.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__botao, .container__titulo, .opcoes, .container__texto {
    display: none;
}

.container__botao:checked ~ .container__rotulo {
    position: relative;
    top: -1px;
    background: var(--azul-degrade);
}

.container__botao:checked ~ .container__rotulo > .cabeçalho__menu-hamburguer {
    background-image: url("../img/MenuAberto.svg");
}

.container__botao:checked~.lista-menu {
    display: block;
}

.cabeçalho__menu-hamburguer {
    width: 48px;
    height: 48px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.lista-menu {
    background-color: var(--branco);
    display: none;
    position: absolute;
    top: 99%;
    width: 65vw;
    z-index: 3;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__item:hover {
    background: var(--azul-degrade);
}

.lista-menu__item:hover > .lista-menu__link {
    -webkit-text-fill-color: var(--branco);
    text-decoration: none;
}

.lista-menu__link {
    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.container__imagem {
    padding: 0.3em;
}

@media screen and (min-width: 1024px) {
    .cabeçalho {
        justify-content: space-evenly;
        padding: 1em;
    }

    .cabeçalho__menu-hamburguer {
        display: none;
    }

    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        position: relative;
        top: 5px;
        left: 5px;
        display: inline-block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        margin: 1em;
        text-transform: uppercase;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo {
        background: var(--azul-degrade);
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
        color: var(--branco);
    }
    
    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem--transparente {
        display: none;
    }

    .container__link {
        margin: 0 1em;
    }
}

@media screen and (min-width: 1728px) {
    .cabeçalho {
        padding-left: 5em;
        padding-right: 5em;
    }

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .container__texto {
        display: block;
    }

    .opcoes {
        margin-left: 3em;
        margin-right: auto;
    }

}
